
<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<!-- light-box-script ----->
<script src="/static/js/jquery.chocolat.js"></script>
<link rel="stylesheet" href="/static/css/chocolat.css" type="text/css" media="screen" charset="utf-8" />
<script type="text/javascript" charset="utf-8">
	$(function() {
		$('.about-grid a').Chocolat({linkImages:false});
	});
</script>
<!-- light-box-script ----->
</head>
<body>
 <div class="banner">

		   <div class="header_bottom">
		   	<div class="container">
      		  <div class="logo">
				<img src="/static/images/logo1.png" class="img-responsive" alt="" width = "250" height = "150"/>
			  </div>
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="/">Melody</a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="/">Home</a></li>
			        <li><a href="about.html">About <i class="menu-border"></i></a></li>
			        <li><a href="contact.html">Contact</a></li>
			      </ul>
			   </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
            <div class="clearfix"></div>
		 </div>
       </div>
</div>
<div class="main">
	    <div class="about_grid1">
	      <div class="container">
	      	<div class="col-md-6 row_1">
	      		<h1>GeoMusic is attempting to revolutionize the connection between music and your community.</h1>
	      		<p>With the prevalence of social media in today's world, the ability to connect with those around you is at its zenith. At GeoMusic, we aim to show you what those around you are listening to from the community's Tweets, so that you can expand your musical taste into new realms. Using the Twitter API and your location from Google Maps API, we have gathered various Tweets from others in your area that mention songs. Integrating this with a Spotify API, we present you with the artists and top tracks that those in your community love.  </p>
	      		<img src="/static/images/pic1.jpg" class="img-responsive" alt=""/>
	      	</div>
	      	<div class="col-md-6 row_2">
	      		<p>As a new and growing project, we hope to add various features in the near future. We hope to include demos of the songs we select for you, in addition to developing better and more relevant playlists as we grow. In the future, we hope to implement a machine learning algorithm that recognizes what genres you like from our selection, in order to tailor our playlists to you. </p>
	      		<p class="para">We thank you for using our product, and encourage you to reach out with any questions. Happy music listening! </p>
	      		<h2><span class="m_2">Who</span> we are</h2>
	      		<p>We are a group of three CS majors hoping to provide a novel method for integrating social media and music. It's easy to ask what music your friends like, but not what music represents your whole community.</p>
	      	    <ul class="marked-list">
                    <li> Alex Schneidman</li>
                    <li> Alex Singh</li>
                    <li> Brian Wei</li>
                </ul>
	      	</div>
	      	<div class="clearfix"> </div>
	      </div>
	    </div>

			<div class="footer">
				<div class="container">

	 <div class="footer-grid">
		 <h3>Information</h3>
		 <ul class="list1">
				 <li><a href="about.html">About</a></li>
				 <li><a href="contact.html">Contact</a></li>

			 </ul>
	 </div>


	 <div class="footer-grid last_grid">

		 <h5>Call Team<br>+1(720)737-7685</h5>
	 </div>
				</div>
			</div>
			<div class="footer_bottom">

	</div>
	 </div>
</body>
</html>
