
<!DOCTYPE HTML>
<html>
<head>
<title>Contact</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="/static/css/style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/css/font-awesome.css" rel="stylesheet">
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
</head>
<body>
 <div class="banner">

		   <div class="header_bottom">
		   	<div class="container">
      		  <div class="logo">
				<h2><a href="/">Melody</a></h2>
			  </div>
			 <nav class="navbar navbar-default menu" role="navigation"><h3 class="nav_right"><a href="/">Melody</a></h3>
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav menu1">
			      	<li class="active"><a href="/">Home</a></li>
			        <li><a href="about.html">About</a></li>
			        <li><a href="contact.html">Contact<i class="menu-border"></i></a></li>
			      </ul>
			   </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
            <div class="clearfix"></div>
		 </div>
       </div>
</div>
<div class="about_grid1">
    <div class="container">
      <div class="col-md-6 contact_grid">
      	<div class="contact-form">
		    <p>Fill out this form to directly contact us.</p>
			    <form>
			    	<div>
				    	<span><label>Name</label></span>
				    	<span><input name="userName" type="text" class="textbox"></span>
				    </div>
				    <div>
				    	<span><label>E-Mail</label></span>
				    	<span><input name="userEmail" type="text" class="textbox"></span>
				    </div>
				    <div>
				     	<span><label>Subject</label></span>
				    	<span><input name="userPhone" type="text" class="textbox"></span>
				    </div>
				    <div>
				    	<span><label>Message</label></span>
				    	<span><textarea name="userMsg"> </textarea></span>
				    </div>
				   <div>
				   		<span><input type="submit" value="Submit"></span>
				  </div>
			  </form>
		</div>
      </div>
      <div class="col-md-6 contact_grid">
      	<h4 class="contact-head">We are here</h4>
      	<div class="map">
		  <div class="map-border"><iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.425196717688!2d-79.94663994912254!3d40.443725161820055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f22177d9f8ef%3A0x719357c7895d25a8!2sGates+Hillman+Complex!5e0!3m2!1sen!2sus!4v1518237467573"></iframe><br><small><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.425196717688!2d-79.94663994912254!3d40.443725161820055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f22177d9f8ef%3A0x719357c7895d25a8!2sGates+Hillman+Complex!5e0!3m2!1sen!2sus!4v1518237467573" style="color:#666;text-align:left;font-size:12px"></a></small></div>
		</div>
		<div class="company_address">
	     	<h3>Company Information : </h3>
			    	<p>5000 Forbes Ave</p>
			   		<p>Pittsburgh, PA</p>
			   		<p>USA</p>
	   		<p>Phone : +1 (720) 737 - 7685</p>
	 	 	<p>Email : <span>jxc[at]cs.cmu.edu</span></p>
	    </div>
      </div>
      <div class="clearfix"> </div>
    </div>
</div>
<div class="footer">
  <div class="container">

<div class="footer-grid">
<h3>Information</h3>
<ul class="list1">
   <li><a href="about.html">About</a></li>
   <li><a href="contact.html">Contact</a></li>

 </ul>
</div>


<div class="footer-grid last_grid">

<h5>Call Team<br>+1(720)737-7685</h5>
</div>
  </div>
</div>
<div class="footer_bottom">

</div>
</div>
</body>
</html>
