

<html>

<head>
  <title>Loading...</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/static/js/jquery-1.11.1.min.js"></script>
  <!-- Custom Theme files -->
  <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
  <!-- Custom Theme files -->
  <script src="/static/js/bootstrap.min.js"></script>
  <link href="/static/css/font-awesome.css" rel="stylesheet">
  <!--webfont-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>

<body>
<div class="loader"></div>
</body>
</html>
